* {margin: 0;padding: 0; font-family: 'Roboto', sans-serif;}

/* CSS cho phần navbar*/
.navbar-dark .navbar-brand {
    font-size: xx-large;
    color: #D2B48C;
}

.navbar-dark .navbar-collapse .nav-link {
    font-size: larger;
    text-transform: uppercase;
    color: #D2B48C;
}

/* CSS cho phần carousel */
.carousel-header {
    background-image: url(../img/bg-total2.jpg);
}

.carousel-inner {
    text-align: center;
    line-height: 520px;
}


.cottruyen .btn-cottruyen {
    float: right;
}

.petxoaytour {
    background-image: url(../img/bg-total2.jpg);
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer {
    background-image: url(../img/bg-total2.jpg);
    color: #D2B48C;
}

.footer .footer-icon {
    
}