* {margin: 0;padding: 0; font-family: 'Roboto', sans-serif;}

/* CSS cho phần navbar*/
.navbar-dark .navbar-brand {
    font-size: xx-large;
    color: #D2B48C;
}

.navbar-dark .navbar-collapse .nav-link {
    font-size: larger;
    text-transform: uppercase;
    color: #D2B48C;
}

/* CSS cho phần carousel */
.carousel-header {
    background-image: url(https://cdn.vn.garenanow.com/web/lol-product/LOLwebsite/img/blurred1.jpg);
}

.carousel-inner {
    text-align: center;
    line-height: 520px;
}


.cottruyen .btn-cottruyen {
    float: right;
}